* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "bitbit";
}
a {
    color: black;
}
h1 {
    font-size: 60px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 20px;
}
h2 {
    text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.6);
}
ol {
    border-right: 1px solid gray;
    width: 100px;
    margin: 0;
    padding: 24px 100px 0 0;
    height: calc(100vh - 89px);
}
#grid {
    display: grid;
    grid-template-columns: 148px 1fr;
}
#grid ol {
    padding-left: 32px;
}
#grid #article {
    padding-left: 24px;
}
@media (max-width: 800px) {
    #grid {
        display: block;
    }
    ol {
        border-right: none;
        padding-bottom: 24px;
        height: auto;
    }
    h1 {
        border-bottom: none;
    }
}
@font-face {
    font-family: "bitbit";
    src: url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff"),
        url("//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2");
}
.text_shadow {
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}
